<template>
  <div>
    <CardContainer>
      <Card />
      <Card />
    </CardContainer>
    <CardContainer class="dark mt-8">
        <Card />
        <Card />
    </CardContainer>
  </div>
</template>
