<template>
    <div class="card">
        <h1>Title</h1>
        <h2>subtitle</h2>
        <p>Some longer content and text that could be truncated because it's obviously too long</p>
        <button>CTA Button</button>
    </div>
</template>
<style lang="postcss" scoped>
    .card {
        @apply bg-skin-fill p-8 max-w-xs rounded-lg border-2 border-skin-accent;
        h1 {
            @apply text-skin-base text-6xl m-0 font-extrabold;
        }
        h2 {
            @apply text-skin-muted text-3xl mt-0 mb-4;
        }
        h1,
        h2 {
            @apply font-header uppercase;
        }
        p {
            @apply text-skin-muted truncate;
        }
        button {
            @apply bg-skin-btn-accent hover:bg-skin-btn-accent--hover text-skin-btn-accent--txt rounded-lg p-2 font-header uppercase font-extrabold;
        }
    }
</style>