<template>
    <div class="card-container" >
        <slot></slot>
    </div>
</template>
<style lang="postcss" scoped>
    .card-container {
        @apply flex flex-row gap-4 justify-center items-center;
    }
</style>