@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-text--base: #ffffff;
    --color-text--muted: #ffffff;
    --color-text--inverted: #ffffff;
    --color-background: #88cccc;
    --color-fill: #88cccc;
    --color-accent: #45cccc;
    --color-accent--darker: #33aabb;
    --color-accent--inverted: #080808;
    --color-invert: #ffffff;
    --color-invert--darker: #ffffff;
    --color-invert--inverted: #ffffff;
  }
  .dark {
    --color-text--base: #ffffff;
    --color-text--muted: #ffffff;
    --color-text--inverted: #ffffff;
    --color-background: #0c0c0c;
    --color-fill: #0c0c0c;
    --color-accent: #45cccc;
    --color-accent--darker: #33aabb;
    --color-accent--inverted: #080808;
    --color-invert: #ffffff;
    --color-invert--darker: #ffffff;
    --color-invert--inverted: #ffffff;
  }
  html {
    @apply bg-skin-back flex flex-row justify-center items-center h-screen font-sans gap-8;
  }
}
